{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet " href="{% static 'CSS/flexboxgrid.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/redireccion.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
</head>

<body>
    <div class="row center-xs">
        <h1>Lo sentimos aun no posees los permisos nesecarios</h1>
    </div>
    <div class="row center-xs">
        <a href="{% url 'post_list' %}">Volver a Cocina</a>
    </div>

</body>