{% load staticfiles %}
<html>

<head>
    <title>Django Girls Blog</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="{% static 'CSS/estilococina.css'%}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'CSS/style.css'%}">
    <link rel="stylesheet" href="{% static 'CSS/flexboxgrid.min.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <script src="{% static 'JS/Menu.js' %}"></script>

</head>

<body>
    <div class="container-all ">
        <div class="logo ">
            <div class="col-xs-12 ">
                <div id="logo ">
                    <h1>CultivaTHConocimiento <img src="{% static 'IMG/marijuana-34353_640.png' %}" alt="logo" width="40" height="30"></h1>
                </div>
            </div>
        </div>
        <Header>
            <div class="menu_bar ">
                <a href="# " class="bt-menu "><span class="icon-menu "></span>Menu</a>
            </div>
            <nav>
                <ul>
                    <li><a href="# "><span class="icon-home3 ">  </span>Inicio</a></li>
                    <li><a href="# "><span class="icon-happy ">  </span>Cultivo</a></li>
                    <li><a href="{% url 'post_list' %}"><span class="icon-happy2 "> </span>Cocina</a></li>
                    <li><a href="# "><span class="icon-bell ">  </span>Noticias</a></li>
                    <li><a href="{% url 'registro' %}"><span class="icon-key ">  </span>Registro</a></li>
                    <li><a href="{% url 'login' %}"><span class="icon-unlocked ">  </span>Inicio sesión</a></li>
                </ul>
            </nav>
        </Header>
        <div class="imagenEncabezado">
            <div class="row center-xs">
                <div class="col-xs">
                    <h1 id="rec">Recetas de Cocina</h1>
                </div>
            </div>
            {% block barra_busqueda %}
            <div class="busqueda">
                <div class="row center-xs">
                    <div class="col-xs-8">
                        <form method="get">
                            <div class="col-xs-5">
                                <div class="barra">
                                    <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value="{{request.GET.buscar}}">
                                </div>
                            </div>
                            <div class="boton">
                                <button type="submit" class="boton">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endblock barra_busqueda %}
        </div>
        <div class="page-header">
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> {% endif %}
            <span>Nuevo Post</span>
        </div>
        <div class="content-container">
            <div class="row-center">
                <div class="col-xs-12">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-12 ">
                <footer>
                    <p>Foro Cultiva Conocimento. Copyright &copy;2019</p>
                </footer>
            </div>
        </div>
    </div>
</body>


</html>